<nav>
  <section class="sidenav-content">
    <section class="nav-group">
      <input id="mainGroup" type="checkbox">
      <label for="mainGroup">Ajustes</label>
      <ul class="nav-list">
        <li><a class="nav-link" href="#" routerLink="/settings/params" routerLinkActive="active">Configuración de parámetros</a></li>
        <li><a class="nav-link" href="#" routerLink="/settings/logs" routerLinkActive="active">Registro de logs</a></li>
      </ul>
    </section>
    <!--<section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Collapsible Nav Element</label>
      <ul class="nav-list">
        <li><a class="nav-link">Link 1</a></li>
        <li><a class="nav-link">Link 2</a></li>
      </ul>
    </section>-->
  </section>
</nav>
