<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home/domains" routerLinkActive="active">Dominios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home/labs" routerLinkActive="active">Laboratorios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home/templates" routerLinkActive="active">Plantillas</a>
    </li>
  </ul>
</nav>
