<div class="card">
    <div class="card-header">
        {{ system.hostname }}
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <img src="assets/img/server.png" class="card-media-image">
            <div class="card-media-description">
                <span class="card-media-title">
                    {{ system.manufacturer }} {{ system.model }}
                </span>
                <span class="card-media-text">
                    {{ cpu.model }}
                </span>
            </div>
        </div>
    </div>
</div>
